.products__title-box2 {
    position: relative;
    padding-right: 48px;
    cursor: pointer;
}

.submenu {
    position: relative;
    display: inline-block;
    right: -350px;
    &:hover .submenu-child {
        display: block;
    }
}

.submenu-child {
    transform-origin: 0 0;
    border-radius: 3px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    position: absolute;
    display: none;
    background-color: #fff;
    min-width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    right: 0px;
    top: 33px;
    li {
        a {
            font-family: 'Quicksand-Regular', sans-serif;
            color: #747b86;
            padding: 3px 0 3px 30px;
            text-decoration: none;
            display: block;
            font-size: 15px;
            line-height: 28px;
            font-weight: 400;
            transition: .5s;
        }
        a:hover {
            color: $blue;
        }
    }
}