.products__title-box2 {
    position: relative;
    padding-right: 48px;
    cursor: pointer;
}

.submenu {
    position: relative;
    display: inline-block;
    right: -350px;
    &:hover .submenu-child {
        display: block;
    }
}

.submenu-child {
    transform-origin: 0 0;
    border-radius: 3px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    position: absolute;
    display: none;
    background-color: #fff;
    min-width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    right: 0px;
    top: 33px;
    li {
        a {
            font-family: 'Quicksand-Regular', sans-serif;
            color: #747b86;
            padding: 3px 0 3px 30px;
            text-decoration: none;
            display: block;
            font-size: 15px;
            line-height: 28px;
            font-weight: 400;
            transition: .5s;
        }
        a:hover {
            color: $blue;
            text-shadow: 0 0 15px $pur;
        }
        a:hover .blink {
            animation: none;
        }
    }
}

// Выпадющее меню для пользователя 
.header__wrapper {
    // добавляю треугольник к выпадющему меню
    &:hover::before {
        transition: all .8s;
        opacity: 1;
    }
    &::before {
        content: "";
        position: absolute;
        z-index: 5;
        left: 50px;
        top: 30px;
        border: 10px solid transparent;
        border-bottom: 10px solid $blue;
        transform: translate(-50%, 20px);
        opacity: 0;
    }
    // добавляем всплывающий блок меню
    &-list {
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        background-color: #ffffff;
        padding-left: 20px;
        padding-bottom: 0;
        padding-top: 0;
        width: 270px;
        height: 0;
        position: absolute;
        top: 70px;
        right: 0;
        z-index: 1;
        overflow: hidden;
        border-radius: 4px;
    }
    &:hover {
        .header__wrapper-list {
            transition: all .8s;
            padding-bottom: 20px;
            padding-top: 15px;
            border-top: 2px solid $blue;
            height: 523px;
        }
    }
    &-ico {
        font-family: 'icomoon';
        font-size: 15px;
        color: #54667a;
        width: 230px;
        height: 44px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        &:hover {
            color: #fff;
            background-color: $blue;
            border-radius: 4px;
        }
        span {
            @include f400;
            margin-left: 15px;
            font-size: 15px;
            color: #54667a;
            font-weight: 500;
            width: 180px;
            height: 44px;
            display: flex;
            align-items: center;
            &:hover {
                color: #fff;
                background-color: $blue;
                border-radius: 4px;
            }
        }
    }
}

// todo: выпадающее меню сообщений 
.header__wrapper-bat {
    position: relative;
    margin-top: auto;
    height: 80px;
    width: 70px;
    top: 0;
    right: 0;
    &:hover {
        .header__wrapper-posts {
            transition: all .8s;
            border-top: 2px solid $blue;
            height: 480px;
        }
    }
    // добавляю трейгольник к выпадющему меню
    &:hover::before {
        transition: all .8s;
        opacity: 1;
    }
    &::before {
        content: "";
        position: absolute;
        z-index: 5;
        left: 32px;
        top: 40px;
        border: 10px solid transparent;
        border-bottom: 10px solid $blue;
        transform: translate(-50%, 20px);
        opacity: 0;
    }
}

.header__wrapper-posts {
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 1;
    height: 0px;
    width: 370px;
    overflow: hidden;
    border-radius: 4px;
    .user__acc {
        height: 65px;
        &-message {
            @include f500;
            font-size: 18px;
            color: #000000;
            &:hover {
                color: $blue;
            }
        }
        &-notice {
            @include f600;
            font-size: 15px;
            color: $blue;
            margin-left: auto;
        }
    }
    li {
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        align-items: center;
        height: 83px;
        border-bottom: 1px solid #e8ebf0;
        .avatar-user {
            width: 40px;
            height: 40px;
            padding: 20px;
            border-radius: 10vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
            &:hover {
                box-shadow: inset 0 0 0 1px #0674ec, 0 0 5px #0674ec;
            }
        }
        .wrapper__messages {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-left: 15px;
            .item-a {
                position: relative;
                &::after {
                    position: absolute;
                    content: '\f003';
                    font-family: 'icomoon';
                    font-size: 15px;
                    color: $blue;
                    right: -25px;
                    top: 0;
                    transition: .3s;
                }
                &:hover::after {
                    transform: scale(1.1);
                    text-shadow: 0 0 20px $blue;
                }
            }
            .item-b {
                position: relative;
                &::after {
                    position: absolute;
                    content: '\f122';
                    font-family: 'icomoon';
                    font-size: 15px;
                    color: #a2a2a2;
                    right: -25px;
                    top: 0;
                    transition: .3s;
                }
                &:hover::after {
                    color: $blue;
                    transform: scale(1.1);
                    text-shadow: 0 0 25px $blue;
                }
            }
            .active {
                @include f600;
                color: $blue;
            }
            &-name_user {
                @include f600;
                font-size: 16px;
                margin-bottom: 5px;
                color: #000;
                transition: .3s;
                &:hover {
                    color: $blue;
                }
            }
            &-notice_messages {
                @include f400;
                font-size: 14px;
                color: #747a86;
            }
            &-texet_message {
                @include f500;
                font-size: 15px;
                color: #555555;
            }
        }
    }
}

// todo: всплывающее меню у wordpress 
.wrapper__wordpress {
    position: relative;
    &-box {
        position: absolute;
        z-index: 1;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        background-color: #ffffff;
        width: 270px;
        height: 0;
        padding-left: 20px;
        padding-right: 20px;
        top: 80px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .word-items {
        @include f400;
        font-size: 15px;
        color: #54667a;
        height: 44px;
        width: 230px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        &:hover {
            background-color: $blue;
            color: #ffffff;
            border-radius: 2px;
        }
    }
    li {
        display: flex;
        align-items: center;
        height: 44px;
        width: 230px;
    }
}

.wrapper__wordpress {
    &:hover {
        .wrapper__wordpress-box {
            transition: .5s;
            height: 440px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 2px solid $blue;
        }
    }
}

// todo: всплывающее меню у home
.wrapper__home {
    position: relative;
    &-box {
        position: absolute;
        z-index: 1;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        background-color: #ffffff;
        width: 270px;
        height: 0;
        padding-left: 20px;
        padding-right: 20px;
        top: 80px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        .home-items {
            @include f400;
            font-size: 15px;
            color: #54667a;
            height: 44px;
            width: 230px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            &:hover {
                background-color: $blue;
                color: #ffffff;
                border-radius: 2px;
            }
        }
    }
    li {
        display: flex;
        align-items: center;
        height: 44px;
        width: 230px;
    }
}

.wrapper__home {
    &:hover {
        .wrapper__home-box {
            transition: .5s;
            height: 173px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 2px solid $blue;
        }
    }
}

// todo: всплывающее меню у products 
.wrapper__products {
    position: relative;
    &-box {
        position: absolute;
        z-index: 1;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        background-color: #ffffff;
        width: 270px;
        height: 0;
        padding-left: 20px;
        padding-right: 20px;
        top: 80px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .prod-items {
        @include f400;
        font-size: 15px;
        color: #54667a;
        height: 44px;
        width: 230px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        &:hover {
            background-color: $blue;
            color: #ffffff;
            border-radius: 2px;
        }
    }
    li {
        display: flex;
        align-items: center;
        height: 44px;
        width: 230px;
    }
}

.wrapper__products {
    &:hover {
        .wrapper__products-box {
            transition: .5s;
            height: 310px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 2px solid $blue;
        }
    }
}

// todo: всплывающее меню у pages 
.wrapper__pages {
    position: relative;
    &-box {
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        border-radius: 4px;
        position: absolute;
        background-color: #ffffff;
        z-index: 1;
        width: 1140px;
        height: 0;
        top: 80px;
        left: -400px;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        overflow: hidden;
        &-section {
            &_title {
                @include f700;
                font-size: 16px;
                display: flex;
                align-items: center;
                height: 66px;
                border-bottom: 1px solid #e8ebf0;
            }
            &_wrap {
                display: flex;
                &-categor {
                    width: 180px;
                    .listing {
                        a {
                            @include f500;
                            font-size: 15px;
                            color: #54667a;
                            height: 44px;
                            display: flex;
                            align-items: center;
                            padding-left: 10px;
                            &:hover {
                                background-color: $blue;
                                color: #ffffff;
                                border-radius: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.wrapper__pages {
    &:hover {
        .wrapper__pages-box {
            transition: .5s;
            height: 610px;
            border-top: 2px solid $blue;
        }
    }
}

// todo: выпадающее меню уведомлений
.wrapper__bell {
    position: relative;
    margin-top: auto;
    height: 80px;
    width: 70px;
    top: 0;
    right: 0;
    &-wrap {
        position: absolute;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        background-color: #ffffff;
        height: 0;
        width: 370px;
        padding-left: 25px;
        padding-right: 25px;
        top: 80px;
        right: 0;
        z-index: 1;
        overflow: hidden;
        border-radius: 4px;
    }
    .user__block-wrap {
        display: flex;
        justify-content: space-between;
        height: 65px;
        align-items: center;
    }
    .user_block-title {
        @include f500;
        font-size: 18px;
    }
    .user_message-all {
        @include f500;
        font-size: 15px;
        color: $blue;
    }
    li {
        display: flex;
        align-items: center;
        position: relative;
        height: 100px;
        border-top: 1px solid #e8ebf0;
        .icon-heart-o::before {
            position: absolute;
            top: 9px;
            right: 8px;
        }
        .icon-comment-o::before {
            position: absolute;
            top: 8px;
            right: 8px;
        }
        .icon-shopping-cart::before {
            position: absolute;
            top: 8px;
            right: 8px;
        }
        .icon-star-o::before {
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }
    .user-ava {
        width: 40px;
        height: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10vh;
        margin-right: 15px;
        padding-left: 40px;
        transition: all .5s;
        &:hover {
            box-shadow: inset 0 0 0 1px #0674ec, 0 0 5px #0674ec;
        }
    }
    .block-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .user_name {
        @include f500;
        font-size: 16px;
        margin-right: 5px;
    }
    span {
        color: #747a86;
        margin-right: auto;
        margin-left: 5px;
    }
    .user_mess {
        @include f400;
        font-size: 15px;
        color: $blue;
        &:hover {
            color: $blue;
            text-shadow: 0 0 1px #0674ec;
        }
    }
    .time-ago {
        @include f400;
        font-size: 14px;
        color: #747a86;
    }
    .what-isit {
        position: absolute;
        font-size: 15px;
        width: 32px;
        height: 32px;
        border-radius: 10vh;
        right: 0;
        &:hover {
            transition: all .3s;
            transform: scale(0.8);
            box-shadow: inset 0 0 0 1px #0674ec, 0 0 5px #0674ec;
        }
    }
    .pic1 {
        color: #0674eb;
        background-color: #e6f1fd;
    }
    .pic2 {
        color: #7347c1;
        background-color: #f1ecf9;
    }
    .pic3 {
        color: #ff6a6c;
        background-color: #fff0f0;
    }
    .pic4 {
        color: #62d03a;
        background-color: #fff0f0;
    }
}

.wrapper__bell {
    &:hover {
        .wrapper__bell-wrap {
            transition: .5s;
            border-top: 2px solid $blue;
            height: 460px;
        }
        // добавляю трейгольник к выпадющему меню
        &:hover::before {
            transition: all .5s;
            opacity: 1;
        }
        &::before {
            content: "";
            position: absolute;
            z-index: 5;
            left: 39px;
            top: 40px;
            border: 10px solid transparent;
            border-bottom: 10px solid $blue;
            transform: translate(-50%, 20px);
            opacity: 0;
        }
    }
}

// todo: всплывающее меню покупок
.wrapper__cart {
    position: relative;
    margin-top: auto;
    height: 80px;
    width: 70px;
    top: 0;
    right: 0;
    &:hover {
        .wrapper__cart-wrap {
            transition: .5s;
            height: 377px;
            border-top: 2px solid $blue;
        }
        // добавляю трейгольник к выпадющему меню
        &:hover::before {
            transition: all .5s;
            content: "";
            position: absolute;
            z-index: 5;
            left: 30px;
            top: 40px;
            border: 10px solid transparent;
            border-bottom: 10px solid $blue;
            transform: translate(-50%, 20px);
        }
    }
    &-wrap {
        position: absolute;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        background-color: #ffffff;
        border-radius: 4px;
        height: 0;
        width: 400px;
        top: 80px;
        right: 0;
        overflow: hidden;
        z-index: 1;
        .box {
            border-bottom: 1px solid #e8ebf0;
            height: 123px;
            padding-left: 25px;
            padding-right: 25px;
            display: flex;
            align-items: center;
            &-img {
                width: 80px;
                height: 70px;
                margin-right: 15px;
                padding-left: 80px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &-wrap2 {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                flex-direction: column;
                margin-right: 15px;
                align-items: center;
            }
            &-wrap {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                flex-direction: column;
                margin-right: 15px;
                .name-produt {
                    @include f600;
                    font-size: 16px;
                    color: #000000;
                    margin-bottom: 10px;
                    &:hover {
                        color: $blue;
                        text-shadow: 0 0 1px #0674ec;
                    }
                }
                .name-cms {
                    position: relative;
                    @include f400;
                    font-size: 15px;
                    color: $pur;
                    span {
                        margin-left: 25px;
                    }
                }
                .icon-wordpress {
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            &-delete {
                position: relative;
                background-color: #f1ecf9;
                width: 32px;
                height: 32px;
                border-radius: 10vh;
                margin-bottom: 10px;
                &:hover {
                    transition: all .3s;
                    transform: scale(0.8);
                    box-shadow: inset 0 0 0 1px #0674ec, 0 0 5px #0674ec;
                }
            }
            .icon-trash-o {
                &::before {
                    position: absolute;
                    color: #818c98;
                    font-size: 15px;
                    top: 8px;
                    left: 10px;
                }
            }
            &-cost {
                height: 30px;
                padding-left: 10px;
                padding-right: 10px;
                background-color: #e6f1fd;
                border-radius: 10vh;
                color: $blue;
                font-size: 16px;
                @include f500;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: space-between;
            }
            &-total {
                @include f600;
                font-size: 18px;
                height: 70px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-left: 25px;
                padding-right: 25px;
                span {
                    margin-left: 30px;
                }
            }
            &-bottom {
                display: flex;
                justify-content: space-between;
                &-btn {
                    height: 60px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                }
                .btn1 {
                    background-color: $pur;
                    color: #ffffff;
                }
                .btn2 {
                    background-color: $blue;
                    color: #ffffff;
                }
            }
        }
    }
}

// todo: анимация кнопки меню

/* GENERAL STYLES */

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hamburger {
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    left: 210px;
    top: 18px;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: $blue;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}


/* HAMBURGER 4 */

.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
    top: 13.5px;
}

.hamburger4 .bar5 {
    bottom: 0px;
}

.hamburger4 .bar {
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: 13.5px;
}

.hamburger4 .bar3 {
    width: 1px;
    left: 13.5px;
}

.checkbox4:checked+label>.hamburger4>.bar1 {
    top: 13.5px;
    background-color: transparent;
}

.checkbox4:checked+label>.hamburger4>.bar2 {
    left: 0px;
    width: 30px;
    transform: rotate(45deg);
}

.checkbox4:checked+label>.hamburger4>.bar3 {
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
}

.checkbox4:checked+label>.hamburger4>.bar4 {
    background-color: transparent;
}

.checkbox4:checked+label>.hamburger4>.bar5 {
    bottom: 13.5px;
    background-color: transparent;
}

// #2pur меню пользователя для адаптива 
// todo: анимация кнопки пользовательского меню так и кнопка
.user-btn {
    color: $blue;
    cursor: pointer;
    margin-left: 15px;
    font-size: 50px;
}