@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand-SemiBold';
    src: url('../fonts/Quicksand-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand-Light';
    src: url('../fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

// Подрубаю иконки 
@font-face {
    font-family: 'icomoon';
    src: url('../fonts//icomoon.eot?2f83gb');
    src: url('../fonts/icomoon.eot?2f83gb#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?2f83gb') format('truetype'), url('../fonts/icomoon.woff?2f83gb') format('woff'), url('../fonts/icomoon.svg?2f83gb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
    content: "\f003";
}

.icon-star-o:before {
    content: "\f006";
}

.icon-th-large:before {
    content: "\f009";
}

.icon-cog:before {
    content: "\f013";
}

.icon-gear:before {
    content: "\f013";
}

.icon-trash-o:before {
    content: "\f014";
}

.icon-home:before {
    content: "\f015";
}

.icon-list:before {
    content: "\f03a";
}

.icon-chevron-right:before {
    content: "\f054";
}

.icon-eye:before {
    content: "\f06e";
}

.icon-chevron-down:before {
    content: "\f078";
}

.icon-shopping-cart:before {
    content: "\f07a";
}

.icon-bar-chart:before {
    content: "\f080";
}

.icon-bar-chart-o:before {
    content: "\f080";
}

.icon-heart-o:before {
    content: "\f08a";
}

.icon-upload:before {
    content: "\f093";
}

.icon-bell-o:before {
    content: "\f0a2";
}

.icon-comment-o:before {
    content: "\f0e5";
}

.icon-file-text-o:before {
    content: "\f0f6";
}

.icon-circle-o:before {
    content: "\f10c";
}

.icon-mail-reply-all:before {
    content: "\f122";
}

.icon-reply-all:before {
    content: "\f122";
}

.icon-long-arrow-left:before {
    content: "\f177";
}

.icon-long-arrow-right:before {
    content: "\f178";
}

.icon-wordpress:before {
    content: "\f19a";
}

.icon-dice:before {
    content: "\e915";
}

.icon-book:before {
    content: "\e91f";
}

.icon-phone:before {
    content: "\e942";
}

.icon-location2:before {
    content: "\e948";
}

.icon-alarm:before {
    content: "\e950";
}

.icon-user:before {
    content: "\e971";
}

.icon-briefcase:before {
    content: "\e9ae";
}

.icon-question:before {
    content: "\ea09";
}

.icon-checkmark:before {
    content: "\ea10";
}

.icon-exit:before {
    content: "\ea14";
}

.icon-share2:before {
    content: "\ea82";
}

.icon-google:before {
    content: "\ea88";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-dribbble:before {
    content: "\eaa7";
}

.icon-linkedin2:before {
    content: "\eaca";
}

.icon-pinterest:before {
    content: "\ead1";
}

// @font-face {
//     font-family: 'Quicksand-Bold', sans-serif;
//     src: url('../fonts/Quicksand-Bold.woff2') format('woff2');
//     src: url('../fonts/Quicksand-Bold.woff') format('woff');
//     font-weight: 400;
//     font-display: swap;
// }