@import 'vars';
@import 'global';
@import 'fonts';
// Шапка 1 уровень
.header__top {
    background-color: $ligr;
}

.header__top-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box__logotype {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 6px;
}

.header__button {
    text-align: center;
    height: 36px;
    border-radius: 20px;
    background-color: $blue;
    padding: 4px 19px;
    margin-left: auto;
    margin-right: 50px;
    transition: .5s;
    &-top {
        font-family: 'Quicksand-Regular', sans-serif;
        line-height: 28px;
        font-size: 14px;
        color: $wt;
        transition: .5s;
        display: block;
    }
    &:hover {
        background-color: $wt;
        & a {
            color: $blue;
        }
    }
}

.header__user {
    font-family: 'Quicksand-Medium', sans-serif;
    line-height: 22px;
    font-size: 16px;
    color: #000;
    margin-left: 22px;
}

// шапка 2 уровень
.menu {
    display: flex;
    justify-content: space-between;
}

.header__menu {
    height: 80px;
}

.menu__list {
    li {
        display: inline-block;
        &+li {
            margin-left: 32px;
        }
    }
    a {
        line-height: 42px;
        color: #000;
        margin: 19px 0;
    }
}

// поиск
.search {
    margin-top: 17px;
    text-align: center;
    &-inner {
        max-width: 360px;
        position: relative;
        margin: 0 auto;
        input {
            height: 46px;
            outline: none;
            display: block;
            width: 100%;
            border-radius: 22px;
            border: 1px solid #d9dfe5;
            font-size: 15px;
            font-weight: 500;
            padding-left: 23px;
            padding-right: 80px;
            &::placeholder {
                color: #898f96;
                font-weight: 500;
            }
        }
        button {
            cursor: pointer;
            position: absolute;
            background-color: $blue;
            border-radius: 22px;
            border: none;
            width: 70px;
            height: 46px;
            outline: none;
            right: 0px;
            bottom: 0px;
        }
    }
}

// начало тела сайта
.body__one {
    position: relative;
    background-color: $blblue;
    height: 724px;
    text-align: center;
    padding-top: 183px;
    &-text1 {
        font-family: 'Quicksand-Regular', sans-serif;
        font-size: 60px;
        line-height: 70px;
        color: $wt;
        span {
            font-family: 'Quicksand-Bold', sans-serif;
            font-weight: 600;
        }
    }
    &-text2 {
        font-family: 'Quicksand-Medium', sans-serif;
        font-size: 20px;
        line-height: 72px;
        color: $wt;
        padding-bottom: 68px;
    }
    &-button {
        font-family: 'Quicksand-Regular', sans-serif;
        font-size: 16px;
        line-height: 55px;
    }
    &-btn1,
    &-btn2 {
        height: 55px;
        border-radius: 30px;
        border: 1px solid $wt;
        display: inline-block;
        transition: .5s;
        & a {
            padding: 0 32px;
            display: block;
            color: $wt;
        }
    }
    &-btn1 {
        margin-right: 30px;
    }
    &-btn1:hover,
    &-btn2:hover {
        background-color: $wt;
        & a {
            color: $blblue;
        }
    }
}

// поиск по категориям
.search__category {
    &-box {
        z-index: 3;
        position: absolute;
        top: 836px;
        background-color: $wt;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        min-height: 136px;
        width: 1140px;
        padding: 40px;
        & input {
            font-family: 'Quicksand-Regular', sans-serif;
            font-size: 16px;
            line-height: 42px;
            font-weight: 500;
            outline: none;
            max-width: 613px;
            width: 100%;
            height: 53px;
            border: 1px solid #dcdcdc;
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
            padding: 0 30px 0 30px;
        }
    }
    &-btn {
        font-family: 'Quicksand-Regular', sans-serif;
        font-size: 16px;
        line-height: 42px;
        outline: none;
        position: absolute;
        height: 53px;
        top: 40px;
    }
    .boxes1 {
        left: 650px;
        min-width: 195px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border: 1px solid #dcdcdc;
        background-color: $wt;
        padding: 0 34px 0 0;
        img {
            position: absolute;
            left: 162px;
            top: 23px;
        }
    }
    .boxes2 {
        left: 875px;
        min-width: 223px;
        border-radius: 6px;
        border: none;
        color: $wt;
        background-color: $blue;
    }
}

// бокс по категориям — тень
.search__container {
    &-light {
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 135px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        opacity: 0.502;
        position: absolute;
    }
    .light1s {
        top: 810px;
        z-index: 2;
        width: 1080px;
    }
    .light2s {
        top: 823px;
        z-index: 1;
        width: 1110px;
    }
}

// Информационный блок 
.body__two {
    height: 710px;
    padding-top: 186px;
    &-box {
        display: flex;
        align-items: center;
        text-align: center;
    }
    &-features+&-features {
        margin-left: 30px;
    }
    &-features:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &-features {
        position: relative;
        width: 360px;
        height: 404px;
        img {
            position: absolute;
            margin-top: 30px;
            top: 10px;
            left: 120px;
        }
        span {
            position: absolute;
            top: 180px;
            left: 80px;
            right: 80px;
            font-family: 'Quicksand-Regular', sans-serif;
            font-size: 24px;
        }
        p {
            position: absolute;
            top: 215px;
            font-family: 'Quicksand-Regular', sans-serif;
            font-size: 16px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

// блок со слайдом
.body__slide {
    background-color: $ligr;
    height: 850px;
    padding-top: 120px;
    &-switch {
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        position: relative;
        background-color: $wt;
        width: 1140px;
        height: 110px;
        margin-bottom: 50px;
        p {
            font-family: 'Quicksand-Regular', sans-serif;
            font-size: 30px;
            text-align: left;
            padding-left: 30px;
            padding-top: 43px;
            margin: 0;
        }
        .btn_left {
            position: absolute;
            right: 107px;
            top: 48px;
        }
        .btn_right {
            position: absolute;
            right: 57px;
            top: 48px;
        }
    }
    &-switcher {
        position: absolute;
        right: 30px;
        top: 33px;
        width: 110px;
        height: 45px;
        border-radius: 22px;
        background-color: $pur;
    }
    // слайдер
    &-slil_box {
        float: left;
    }
    &-slil {
        display: inline-block;
    }
    &-review_one {
        margin-bottom: 120px;
        background-color: $wt;
        width: 1140px;
        height: 450px;
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    }
    &-infomtion_box {
        padding-top: 30px;
        padding-left: 605px;
        padding-right: 52px;
    }
    &-heading {
        font-size: 24px;
        margin-bottom: 15px;
    }
    &-avatar {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    &-avatar_photo {
        height: 30px;
        width: 30px;
        margin-right: 9px;
    }
    &-avatar_name {
        font-size: 15px;
        line-height: 30px;
        color: #000;
        margin-right: 21px;
    }
    &-cms_photo {
        background-image: url(../img/icoWordpress.png);
        height: 16px;
        width: 16px;
        margin-top: 7px;
        margin-right: 9px;
    }
    &-cms_name {
        font-size: 15px;
        line-height: 30px;
        color: #7347c1;
    }
    &-description {
        font-family: 'Quicksand-Regular', sans-serif;
        font-size: 16px;
        line-height: 30px;
        color: #000;
    }
    &-hashtags {
        margin-top: 35px;
        margin-bottom: 44px;
    }
    &-hashtags_1+&-hashtags_2 {
        margin-left: 7px;
    }
    &-hashtags_2+&-hashtags_3 {
        margin-left: 7px;
    }
    .hashtag-slider {
        background-color: #f1f3f6;
        border-radius: 20px;
        height: 28px;
        min-width: 83px;
        color: #868c96;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    &-linegrey {
        background-color: #ececec;
        height: 1px;
        width: 485px;
        margin-bottom: 23px;
    }
    &-review {
        display: flex;
        align-items: center;
    }
    &-price {
        height: 32px;
        width: 100px;
        border-radius: 20px;
        background-color: $blue;
        color: $wt;
        text-align: center;
        font-family: 'Quicksand-Regular', sans-serif;
        font-size: 15px;
        line-height: 30px;
    }
    &-price_box {
        margin-right: 19px;
    }
    &-btn_like_box {
        display: flex;
        align-items: center;
    }
    &-btn_like {
        background-image: url(../img/like.png);
        height: 14px;
        width: 16px;
        border: none;
        margin-right: 10px;
    }
    &-like {
        font-family: 'Quicksand-Regular', sans-serif;
        font-size: 15px;
        line-height: 30px;
        margin-right: 19px;
    }
    &-bay {
        display: flex;
        align-items: center;
    }
    &-bay_photo {
        background-image: url(../img/cart.png);
        height: 14px;
        width: 14px;
        margin-right: 9px;
    }
    &-bay_sum {
        font-family: 'Quicksand-Regular', sans-serif;
        font-size: 15px;
        line-height: 30px;
        color: $blue;
        margin-right: 170px;
    }
    // рейтинг в виде звёздочек
    &-stars {
        display: flex;
    }
    &-star_good {
        background-image: url(../img/star.png);
        height: 15px;
        width: 15px;
    }
    &-star_bad {
        background-image: url(../img/star_half.png);
        height: 15px;
        width: 15px;
    }
}

.slick-slide {
    // position: relative;
    // display: block;
    // height: 450px;
    // width: 555px;
    min-height: 134px;
}

.slick-next {
    background-image: url(../img/chevron-right.png);
    background-color: transparent;
    position: absolute;
    height: 14px;
    width: 8px;
    top: -112px;
    right: 57px;
    border: none;
    padding: 0;
    font-size: 0;
    outline: none;
}

.slick-prev {
    background-image: url(../img/chevron-left.png);
    background-color: transparent;
    position: absolute;
    height: 14px;
    width: 8px;
    top: -112px;
    right: 107px;
    border: none;
    padding: 0;
    font-size: 0;
    outline: none;
}

body {
    height: 3000px;
}